<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>codepath-week-02-carousel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B3E84961BB3BBF700C61563</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B3E84AA1BB3BBF700C61563</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B3E84B51BB3BBF700C61563</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
